#application

  #search
    div Search:
    div 
      input(type='text', id='search-input')

  script(type='text/javascript').
    head.ready(function() {
        var auto = new AutocompleterAppView();
    })
