doctype html
html
  head
    title= title
    script(type='text/javascript', src='/scripts/head.min.js').
  body

    #content!= body
          
      script(type='text/javascript').
        head.js(
            "/scripts/jquery.min.js",
            "/scripts/jquery-ui.min.js",
            "/nowjs/now.js",
            "/scripts/underscore-min.js",
            "/scripts/backbone-min.js",
            "/scripts/backbone/model.js"
          );
